* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 25px 0px 25px;
  position: relative;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  flex: 1 1 auto;
}

@font-face {
  font-family: "Roboto Thin";
  src: url("../assets/fonts/Roboto-Thin.eot");
  src: url("../assets/fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Roboto-Thin.woff") format("woff"), url("../assets/fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Light";
  src: url("../assets/fonts/Roboto-Light.eot");
  src: url("../assets/fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Roboto-Light.woff") format("woff"), url("../assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../assets/fonts/Roboto-Regular.eot (1)");
  src: url("../assets/fonts/Roboto-Regular (1).eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Roboto-Regular.woff (1)") format("woff"), url("../assets/fonts/Roboto-Regular.ttf (1)") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../assets/fonts/Roboto-Medium.eot (1)");
  src: url("../assets/fonts/Roboto-Medium (1).eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Roboto-Medium (1).woff") format("woff"), url("../assets/fonts/Roboto-Medium (1).ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../assets/fonts/Roboto-Bold (1).eot");
  src: url("../assets/fonts/Roboto-Bold (1).eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Roboto-Bold (1).woff") format("woff"), url("../assets/fonts/Roboto-Bold (1).ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.top-header {
  padding: 10px 25px 10px 25px;
  background: #313131;
}

.top-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.navbar {
  display: flex;
  gap: 30px;
}

.navabar__item {
  font-family: "Roboto Regular", sans-serif;
  font-size: 14px;
  transition: 0.2s ease-in-out;
}

.navabar__item:hover {
  color: #245462;
}

.top-header__right-side {
  display: flex;
  align-items: center;
  gap: 30px;
}

.top-header__right-side__phone,
.top-header__right-side__delivery {
  display: flex;
  align-items: center;
  gap: 10px;
}

.phone-icon,
.delivery-icon {
  fill: #fff;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  gap: 35px;
}

.menu-btn {
  display: none;
  border: none;
  background: none;
  justify-content: center;
  align-items: center;
}

.search-form {
  width: 100%;
  display: flex;
  border: 1px solid #E6E6E6;
  padding: 17px 15px 17px 15px;
  gap: 20px;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
}

.search-input {
  width: 100%;
  border: none;
}

.search-input:focus {
  outline: none;
}

.tablet-search-form {
  display: none;
  margin-top: 15px;
}

.user-bar {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
}

@media (max-width: 960px) {
  .top-header {
    display: none;
  }
  .menu-btn {
    display: flex;
  }
  .search-form {
    background: #F9F9F9;
    border: none;
    padding: 17px 15px 17px 15px;
    gap: 20px;
  }
  .search-input {
    background: #F9F9F9;
  }
}
@media (max-width: 648px) {
  .user-bar {
    gap: 15px;
  }
  .search-form {
    order: 3;
  }
  .search-form {
    display: none;
  }
  .tablet-search-form {
    display: flex;
  }
}
.footer {
  padding: 55px 25px 35px 25px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__nav-tt {
  font-family: "Roboto Medium", sans-serif;
  font-weight: 14px;
  margin-bottom: 10px;
}

.footer-navbar {
  display: flex;
  gap: 50px;
}

.footer-navabr__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footer-navabr__item__link {
  font-family: "Roboto Regular", sans-serif;
  font-weight: 14px;
}

.sells-and-news {
  margin-top: 35px;
  display: flex;
  gap: 30px;
}

.sells {
  font-family: "Roboto Regular", sans-serif;
  font-size: 14px;
  color: #D74444;
}

.news {
  font-family: "Roboto Regular", sans-serif;
  font-size: 14px;
}

.footer__right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

address {
  text-align: right;
  max-width: 200px;
  font-size: 14px;
}

.footer__contacts {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.footer__contacts__phone,
.footer__contacts__instagram,
.footer__contacts__mail {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Roboto Regular", sans-serif;
  text-wrap: nowrap;
  font-size: 14px;
}

.tablet-phone,
.tablet-delivery {
  display: none;
  font-size: 12px;
}

@media (max-width: 960px) {
  .tablet-phone {
    display: flex;
  }
}
@media (max-width: 768px) {
  .tablet-phone {
    display: none;
  }
  .tablet-delivery {
    display: flex;
  }
}
@media (max-width: 648px) {
  .tablet-delivery {
    display: none;
  }
  .footer {
    padding: 55px 0px 35px 0px;
  }
  .footer__left-side {
    display: none;
  }
  .footer__contacts {
    margin-top: 30px;
  }
  .footer__right-side {
    align-items: start;
  }
  address {
    text-align: left;
    margin-top: 15px;
  }
  .footer__contacts {
    justify-content: start;
  }
}
.app-bar {
  margin-top: 20px;
}

.app-bar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
  gap: 15px;
  position: relative;
}

.app-bar__item {
  display: flex;
  gap: 10px;
  padding: 15px 10px;
}

.app-bar__item:hover .app-bar__item__img-box {
  scale: 1.2;
}

.app-bar__item__img-box {
  transition: 0.2s ease;
}

.app-bar__item__img__txt {
  font-family: "Roboto Regular", sans-serif;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #414141;
}

.ect {
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0px 10px;
}

.app-bar__sells,
.app-bar__news {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

.ect-list {
  display: none;
  flex-direction: column !important;
  padding: 10px 0px;
  background: #fff;
  color: #000;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
  position: absolute;
  top: 57px;
  right: 0px;
}

.ect-list__item {
  padding: 12px 20px;
  font-family: "Roboto Regular", sans-serif;
  font-size: 14px;
}

.ect-list__item:hover {
  background: rgba(233, 233, 233, 0.5019607843);
}

@media (max-width: 960px) {
  .childrensroom {
    display: none;
  }
  .sells {
    display: none;
  }
}
@media (max-width: 768px) {
  .ect {
    display: none;
  }
  .childrensroom {
    display: flex;
  }
  .app-bar__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0px;
  }
  .app-bar__container {
    box-shadow: none;
    overflow: hidden;
    overflow-x: scroll;
    align-items: start;
  }
  .app-bar__container::-webkit-scrollbar {
    display: none;
  }
  .app-bar__item__img-box {
    padding: 15px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
  }
  .app-bar__item__img__txt {
    font-size: 11px;
    white-space: wrap;
    text-align: center;
  }
  .app-bar__sells,
  .app-bar__news {
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */