.product-page__card{
    margin-top: 45px;
}
.product-page__card__left-side{
    max-width: 550px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}
.product-page__card__container{
    display: flex;
    justify-content: start;
    gap: 30px;
}
.slider-for__img{
    width: 75%;
    margin: 0 auto;
}
.slider-for{
    overflow: hidden;
}
.slider-nav{
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: 30px;
    padding: 0px 25px 0px 25px;
}
.slider-syncing__left{
    position: absolute;
    left: 0;
    top: 77%;
    border: none;
    background: none;
}
.slider-syncing__right{
    position: absolute;
    right: 0;
    top: 77%;
    border: none;
    background: none;
    transform: rotate(180deg);
}


//====================
.review-star{
    display: flex;
    align-items: center;
    gap: 4px;
}
.product-page__card__title{
    font-family: $rb-medium;
    font-size: 28px;
    margin-top: 15px;
}
.product-page__card__category{
    font-family: $rb-regular;
    font-size: $m-tt;
    margin-top: 10px;
}
.price-and-wishlist{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 25px;
}
.product-page__card__price{
    font-family: $rb-medium;
    font-size: 28px;
    text-wrap: nowrap;
}
.product-page__card__buy-button{
    padding: 12px 50px;
    border: none;
    background: $blue;
    font-family: $rb-regular;
    font-size: $xm-txt;
    color: $white;
    cursor: pointer;
}
.product-page__card__add-wishlist{
    display: flex;
    align-items: center;
    gap: 10px;
}
.product-page__card__add-wishlist__txt{
    font-family: $rb-regular;
    font-size: $xxm-txt;
}
.product-page__card__options{
    display: flex;
    gap: 45px;
    margin-top: 20px;
}
.product-page__card__color{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product-page__card__color__select{
    display: flex;
    gap: 12px;
}
.product-page__card__color__select-down{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    gap: 4px;
    position: absolute
}
.product-page__card__color__select-down__item{
    width: 25px;
    height: 25px;
    transition: all .2s ease-in-out;
}
.product-page__card__color__select-down__item:hover{
    scale: 1.2;
}
.product-page__card__count__txt,
.product-page__card__color__txt,
.product-page__card__sizes__txt{
    font-family: $rb-regular;
    font-size: $xxm-txt;
}
.color-box{
    width: 30px;
    height: 30px;
    background: #FFC107;
}
.product-page__card__count{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
.product-page__card__count__select-down{
    margin-top: 10px;
    width: 45px;
    box-shadow: $menu-shadow;
    padding: 5px 0px 5px 0px;
    position: absolute;
}
.product-page__card__count__select-down__item{
    padding: 2px;
    text-align: center;
    cursor: pointer;
}
.product-page__card__count__select-down__item:hover{
    background: rgba(233, 233, 233, 0.5019607843);
}
.count-number{
    padding: 2px;
    width: 30px;
    border: none;
    box-shadow: $menu-shadow;
    font-family: $rb-regular;
    font-size: $m-tt;
    outline: none;
    text-align: center;
    min-height: 30px;
}
.color-and-count{
    display: flex;
    align-items: start;
    gap: 25px;
}
.product-page__card__count__select{
    display: flex;
    gap: 12px;
}
.product-page__card__sizes-options{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sizes__select__value{
    padding: 7px 10px;
    box-shadow: $menu-shadow;
    font-family: $rb-regular;
    font-size: $m-tt;
}
.product-page__card__sizes__select{
    display: flex;
    gap: 12px;
}
.product-page__card__sizes__select-down{
    padding: 5px 0px 5px 0px;
    display: flex;
    flex-direction: column;
    box-shadow: $menu-shadow;
    margin-top: 10px;
}
.product-page__card__sizes__select-down__item{
    padding: 7px 10px;
    font-family: $rb-regular;
    font-size: $m-tt;
    text-align: center;
    cursor: pointer;
}
.product-page__card__sizes__select-down__item:hover{
    background: rgba(233, 233, 233, 0.5019607843);
}


@media (max-width: 1024px){
    .product-page__card__add-wishlist__txt{
        display: none;
    }
}