.product-page__product-card{
    width: 100%;
    display: flex;
    margin-top: 35px;
}
.product-card__container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
}
.product-page__product-card__left-side {
    width: 50%; /* Set a fixed width */
    overflow: hidden;
    max-width: 650px; /* Maintain a maximum width */
}
.product-page__product-card__right-side{
    max-width: 50%;
}
.slider-for__img{
    display: flex;
    align-items: center;
}
.slider-nav__item{
    width: 100%;
}
.slider-nav__item{
    width: 100%;
}
.slider-for__item-img{
    width: 65%;
    margin: 0 auto;
}
.slider-nav__style{
    display: flex;
    align-items: center;
    margin-top: 35px;
}
.slider-button{
    position: relative;
}
.slider-nav__item-img{
    width: 100%;
}
.nav-slider__right,
.nav-slider__left{
    position: absolute;
}
.nav-slider__right{
    left: 0;
    position: absolute;
    z-index: 789;
}
.nav-slider__left{
    right: 0;
    position: absolute;
    z-index: 789;
}


//==============================

.stars{
    display: flex;
    gap: 5px;
}
.pr-p__title{
    font-family: $rb-medium;
    font-size: 24px;
    color: $dark-grey-txt;
    margin-top: 20px;
    text-align: left;
}
.pr-p__category{
    font-family: $rb-regular;
    font-size: $m-tt;
    color: $white-grey-txt;
    margin-top: 10px;
}
.price-and-buy-button{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
}
.pr-p__price{
    font-family: $rb-medium;
    font-size: 24px;
    color: $dark-grey-txt;
    text-align: left;
    text-wrap: nowrap;
}
.buy-button{
    display: flex;
    padding: 12px 50px;
    background: $blue;
    border: none;
    color: $white;
    font-family: $rb-regular;
    font-size: $xm-txt;
}
.price-button-wishlist{
    display: flex;
    gap: 20px;
}
.add-wishlist{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}
.add-wishlist__txt{
    font-family: $rb-regular;
    font-size: $m-tt;
}
.pr-p__description__title{
    margin: 20px 0px 10px 0px;
    font-family: $rb-regular;
    font-size: $m-tt;
    color: $dark-grey-txt;
}
.pr-p__description__txt{
    font-family: $rb-regular;
    font-size: $m-tt;
    color: $white-grey-txt;
}


@media (max-width: 1024px){
    .pr-p__title{
        font-size: 18px;
        margin-top: 15px;
    }
    .price-and-buy-button{
        display: flex;
        justify-content: left;
        align-items: center;
        margin-top: 15px;
        gap: 30px;
    }
}


@media (max-width: 960px) {
    .product-card__container {
        flex-direction: column; 
    }
    .product-page__product-card{
        margin-top: 15px;
    }
    .product-page__product-card__left-side {
        width: 100%; 
        overflow: visible; 
        margin: 20px auto;
    }
    .product-page__product-card__right-side{
        max-width: 100%;
    }
    .add-wishlist__txt{
        display: none;
    }
}
@media (max-width: 480px){
    .pr-p__title{
        font-size: $xl-tt;
    }
    .pr-p__price{
        font-size: 16px;
    }
    .buy-button{
        padding: 8px 25px;
    }
    .pr-p__category,
    .pr-p__description__title,
    .pr-p__description__txt{
        font-size: $xm-txt;
    }
}