.cart-products__added-product-card{
    display: flex;
    padding: 20px;
    box-shadow: $menu-shadow;
    gap: 20px;
    margin-top: 20px;
}
.cart-products__added-product-card__left-side{
    width: 100%;
    display: flex;
}
.img-info{
    display: flex;
}
.cart-products__added-product-card__img{
    max-width: 100px;
    height: auto;
}
.cart-products__added-product-card__info{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 25px;
}
.cart-products__added-product-card__info__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-products__added-product-card__info__head__left-side{
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 15px;
}
.cart-products__added-product-card__info__head__title{
    font-family: $rb-medium;
    font-size: $xl-tt;
}
.cart-products__added-product-card__info__head__sell-present__txt{
    font-family: $rb-regular;
    font-size: $xxm-txt;
}
.cart-products__added-product-card__info__head__sell-present{
    display: flex;
    align-items: center;
    gap: 7px;
}
.cart-products__added-product-card__info__head__mobile-count{
    padding: 4px 10px;
    background: $white;
    border: 1px solid #E6E6E6;
    border-radius: 7px;
    display: none;
}
.cart-products__added-product-card__info__head__old-price-and-price{
    display: flex;
    align-items: center;
    gap: 15px;
}
.cart-products__added-product-card__info__head__old-price{
    font-family: $rb-medium;
    font-size: $xxm-txt;
    text-decoration-line: line-through;
    color: #cccccc;
}
.cart-products__added-product-card__info__head__price{
    font-family: $rb-medium;
    font-size: $xl-tt;
}
.cart-products__added-product-card__info__head__right-side{
    display: flex;
    justify-content: space-between;
}
.cart-products__added-product-card__info__head__sell-present{
    display: flex;
}
.cart-products__added-product-card__info__bottom{
    display: flex;
    align-items: start;
    gap: 15px;
}
.cart-products__added-product-card__info__bottom__color-and-count{
    display: flex;
    align-items: center;
    gap: 15px;
}
.cart-products__added-product-card__info__bottom__col{
    display: flex;
    align-items: center;
}
.cart-products__added-product-card__info__bottom__item__txt{
    font-family: $rb-regular;
    font-size: $xxm-txt;
}
.cart-products__added-product-card__info__bottom__color__name{
    font-family: $rb-regular;
    font-size: $xxm-txt;
    color: $basket-grey;
    margin-left: 5px;
}
.cart-products__added-product-card__info__bottom__color__box{
    width: 14px;
    height: 14px;
    background: black;
    margin-left: 10px;
}
.cart-products__added-product-card__info__bottom__item__number{
    font-family: $rb-regular;
    font-size: $xxm-txt;
    color: $basket-grey;
    margin-left: 10px;
}
.remove-card{
    padding: 0px 25px 0px 25px;
    border: none;
    background: #F9F9F9;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.remove-card:hover{
    background: #ff3232;
}


@media (max-width: 960px){
    .cart-products__added-product-card__info__bottom {
        flex-direction: column;
        align-items: start;
    }
}

@media (max-width: 648px){
    .cart-products__added-product-card{
        align-items: self-start;
    }
    .cart-products__added-product-card__info__head {
        align-items: start; 
        flex-direction: column;
        gap: 10px;
    }
    .cart-products__added-product-card__info__head__left-side{
        align-items: center;
    }
    .cart-products__added-product-card__info__head__sell-present{
        display: none;
    }
    .count-col{
        display: none;
    }
    .cart-products__added-product-card__info__head__mobile-count{
        display: flex;
    }
    .cart-products__added-product-card__info__head__old-price-and-price{
        flex-direction: row-reverse;
    }
    .remove-card{
        padding: 0px;
        background: none;
    }
    .remove-card:hover{
        background: none;
    }
}

@media (max-width: 480px){
    .cart-products__added-product-card{
        gap: 10px;
        padding: 10px;
    }
    .cart-products__added-product-card__info__head__left-side,
    .cart-products__added-product-card__info__head__old-price-and-price{
        gap: 10px;
    }
    .cart-products__added-product-card__img{
        max-width: 70px;
    }
    .cart-products__added-product-card__info{
        gap: 15px;
    }
    .cart-products__added-product-card__info__head__title,
    .cart-products__added-product-card__info__head__price{
        font-size: $xxm-txt;
    }
    .cart-products__added-product-card__info__head__mobile-count{
        font-size: $s-txt;
    }
    .size-col{
        align-items: self-start;
        flex-direction: column;
        gap: 5px;
    }   
    .cart-products__added-product-card__info__bottom{
        gap: 10px;
    }
    .cart-products__added-product-card__info__bottom__item__number{
        margin: 0px;
    }
}