//TOP HEADER

.top-header{
    padding: 10px 25px 10px 25px;
    background: #313131;
}
.top-header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
}
.navbar{
    display: flex;
    gap: 30px;
}
.navabar__item{
    font-family: $rb-regular;
    font-size: $m-tt;
    transition: .2s ease-in-out;
}
.navabar__item:hover{
    color: $blue;
}
.top-header__right-side{
    display: flex;
    align-items: center;
    gap: 30px;
}
.top-header__right-side__phone,
.top-header__right-side__delivery{
    display: flex;
    align-items: center;
    gap: 10px;
}
.phone-icon,
.delivery-icon{
    fill:  $white;
}

//HEADER

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap: 35px;
}
.menu-btn{
    display: none;
    border: none;
    background: none;
    justify-content: center;
    align-items: center;
}
.search-form{
    width: 100%;
    display: flex;
    border: 1px solid #E6E6E6;
    padding: 17px 15px 17px 15px;
    gap: 20px;
}
.search-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
}
.search-input{
    width: 100%;
    border: none;
}
.search-input:focus{
    outline: none;
}
.tablet-search-form{
    display: none;
    margin-top: 15px;
}
.user-bar{
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
}

@media (max-width: 960px){
    .top-header{
        display: none;
    }
    .menu-btn{
        display: flex;
    }
    .search-form{
        background: #F9F9F9;
        border: none;
        padding: 17px 15px 17px 15px;
        gap: 20px;
    }
    .search-input{
        background: #F9F9F9;
    }
}
@media (max-width: 648px){
    .user-bar{
        gap: 15px;
    }
    .search-form{
        order: 3;
    }
    .search-form{
        display: none;
    }
    .tablet-search-form{
        display: flex;
    }
}